.visible {
    visibility: visible;
  }
  .invisible {
    visibility: hidden;
  }
  .fixed {
    position: fixed;
  }
  .absolute {
    position: absolute;
  }
  .relative {
    position: relative;
  }
  .bottom-0 {
    bottom: 0px;
  }
  .left-0 {
    left: 0px;
  }
  .right-0 {
    right: 0px;
  }
  .top-0 {
    top: 0px;
  }
  .top-\[90px\] {
    top: 90px;
  }
  .top-full {
    top: 100%;
  }
  .z-\[-1\] {
    z-index: -1;
  }
  .z-\[99\] {
    z-index: 99;
  }
  .mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .mx-1 {
    margin-left: 0.4rem;
    margin-right: 0.4rem;
  }
  .mx-auto {
    margin-left: auto;
    margin-right: auto;
  }
  .ml-20 {
    margin-left: 8rem;
  }
  .block {
    display: block;
  }
  .inline-block {
    display: inline-block;
  }
  .flex {
    display: flex;
  }
  .\!hidden {
    display: none!important;
  }
  .hidden {
    display: none;
  }
  .h-7 {
    height: 2.8rem;
  }
  .h-8 {
    height: 3.2rem;
  }
  .h-9 {
    height: 3.6rem;
  }
  .h-\[38px\] {
    height: 38px;
  }
  .h-\[80px\] {
    height: 80px;
  }
  .h-\[82px\] {
    height: 82px;
  }
  .max-h-\[calc\(100vh-80px-32px\)\] {
    max-height: calc(100vh - 80px - 32px);
  }
  .max-h-\[calc\(100vh-90px-32px\)\] {
    max-height: calc(100vh - 90px - 32px);
  }
  .min-h-0 {
    min-height: 0px;
  }
  .w-7 {
    width: 2.8rem;
  }
  .w-8 {
    width: 3.2rem;
  }
  .w-9 {
    width: 3.6rem;
  }
  .w-\[120px\] {
    width: 120px;
  }
  .w-auto {
    width: auto;
  }
  .w-fit {
    width: fit-content;
  }
  .w-full {
    width: 100%;
  }
  .min-w-\[315px\] {
    min-width: 315px;
  }
  .min-w-\[370px\] {
    min-width: 370px;
  }
  .max-w-\[1442px\] {
    max-width: 1442px;
  }
  .flex-1 {
    flex: 1 1 0%;
  }
  .scale-105 {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .flex-row {
    flex-direction: row;
  }
  .flex-col {
    flex-direction: column;
  }
  .items-end {
    align-items: flex-end;
  }
  .items-center {
    align-items: center;
  }
  .justify-start {
    justify-content: flex-start;
  }
  .justify-between {
    justify-content: space-between;
  }
  .gap-1 {
    gap: 0.4rem;
  }
  .gap-2 {
    gap: 0.8rem;
  }
  .gap-3 {
    gap: 1.2rem;
  }
  .gap-4 {
    gap: 1.6rem;
  }
  .gap-\[34px\] {
    gap: 34px;
  }
  .overflow-auto {
    overflow: auto;
  }
  .overflow-visible {
    overflow: visible;
  }
  .overscroll-none {
    overscroll-behavior: none;
  }
  .rounded {
    border-radius: 0.4rem;
  }
  .rounded-sm {
    border-radius: 0.125rem;
  }
  .bg-\[\#F7F9FA\] {
    --tw-bg-opacity: 1;
    background-color: rgb(247 249 250 / var(--tw-bg-opacity));
  }
  .bg-\[\#FAF9FE\]\/60 {
    background-color: rgb(250 249 254 / 0.6);
  }
  .bg-\[\#FF4713\] {
    --tw-bg-opacity: 1;
    background-color: rgb(255 71 19 / var(--tw-bg-opacity));
  }
  .bg-transparent {
    background-color: transparent;
  }
  .bg-white {
    --tw-bg-opacity: 1;
    background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  }
  .p-0 {
    padding: 0px;
  }
  .p-1 {
    padding: 0.25rem;
  }
  .px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .px-1 {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .px-\[30px\] {
    padding-left: 30px;
    padding-right: 30px;
  }
  .py-1\.5 {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
  }
  .py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }
  .py-5 {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }
  .py-\[13px\] {
    padding-top: 13px;
    padding-bottom: 13px;
  }
  .pr-0 {
    padding-right: 0px;
  }
  .text-left {
    text-align: left;
  }
  .text-center {
    text-align: center;
  }
  .text-right {
    text-align: right;
  }
  .text-\[15px\] {
    font-size: 15px;
  }
  .text-base {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .font-medium {
    font-weight: 500;
  }
  .font-semibold {
    font-weight: 600;
  }
  .text-\[\#424A5D\] {
    --tw-text-opacity: 1;
    color: rgb(66 74 93 / var(--tw-text-opacity));
  }
  .text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
  }
  .opacity-0 {
    opacity: 0;
  }
  .opacity-100 {
    opacity: 1;
  }
  .backdrop-blur-sm {
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  }
  .transition-\[visibility\2c opacity\] {
    transition-property: visibility,opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .transition-transform {
    transition-property: transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
  }
  .duration-0 {
    transition-duration: 0s;
  }
  .duration-300 {
    transition-duration: 300ms;
  }
  .before\:fixed::before {
    content: var(--tw-content);
    position: fixed;
  }
  .before\:bottom-0::before {
    content: var(--tw-content);
    bottom: 0px;
  }
  .before\:left-0::before {
    content: var(--tw-content);
    left: 0px;
  }
  .before\:right-0::before {
    content: var(--tw-content);
    right: 0px;
  }
  .before\:top-\[90px\]::before {
    content: var(--tw-content);
    top: 90px;
  }
  .before\:z-\[-1\]::before {
    content: var(--tw-content);
    z-index: -1;
  }
  .before\:bg-\[\#FAF9FE\]\/60::before {
    content: var(--tw-content);
    background-color: rgb(250 249 254 / 0.6);
  }
  .before\:backdrop-blur-sm::before {
    content: var(--tw-content);
    --tw-backdrop-blur: blur(4px);
    -webkit-backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
    backdrop-filter: var(--tw-backdrop-blur) var(--tw-backdrop-brightness) var(--tw-backdrop-contrast) var(--tw-backdrop-grayscale) var(--tw-backdrop-hue-rotate) var(--tw-backdrop-invert) var(--tw-backdrop-opacity) var(--tw-backdrop-saturate) var(--tw-backdrop-sepia);
  }
  .hover\:scale-105:hover {
    --tw-scale-x: 1.05;
    --tw-scale-y: 1.05;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }
  .group:hover .group-hover\:\!block {
    display: block!important;
  }
  @media (min-width: 640px) {
    .sm\:block {
      display: block;
    }
    .sm\:flex {
      display: flex;
    }
  }
  @media (min-width: 1024px) {
    .lg\:h-\[82px\] {
      height: 82px;
    }
    .lg\:max-h-\[calc\(100vh-90px-32px\)\] {
      max-height: calc(100vh - 90px - 32px);
    }
  }
  @media (min-width: 1280px) {
    .xl\:visible {
      visibility: visible;
    }
    .xl\:absolute {
      position: absolute;
    }
    .xl\:relative {
      position: relative;
    }
    .xl\:top-0 {
      top: 0px;
    }
    .xl\:block {
      display: block;
    }
    .xl\:flex {
      display: flex;
    }
    .xl\:\!hidden {
      display: none!important;
    }
    .xl\:hidden {
      display: none;
    }
    .xl\:h-9 {
      height: 2.25rem;
    }
    .xl\:min-h-0 {
      min-height: 0px;
    }
    .xl\:w-9 {
      width: 2.25rem;
    }
    .xl\:w-auto {
      width: auto;
    }
    .xl\:w-fit {
      width: fit-content;
    }
    .xl\:flex-row {
      flex-direction: row;
    }
    .xl\:justify-start {
      justify-content: flex-start;
    }
    .xl\:overflow-visible {
      overflow: visible;
    }
    .xl\:bg-transparent {
      background-color: transparent;
    }
    .xl\:p-0 {
      padding: 0px;
    }
    .xl\:px-1 {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
    .xl\:pr-0 {
      padding-right: 0px;
    }
    .xl\:text-left {
      text-align: left;
    }
    .xl\:text-\[15px\] {
      font-size: 15px;
    }
    .xl\:text-base {
      font-size: 1rem;
      line-height: 1.5rem;
    }
    .xl\:opacity-100 {
      opacity: 1;
    }
    .xl\:duration-0 {
      transition-duration: 0s;
    }
    .xl\:before\:hidden::before {
      content: var(--tw-content);
      display: none;
    }
    .group:hover .xl\:group-hover\:\!block {
      display: block!important;
    }
  }
  @media (min-width: 1536px) {
    .\32xl\:min-w-\[370px\] {
      min-width: 370px;
    }
    .\32xl\:gap-3 {
      gap: 0.75rem;
    }
    .\32xl\:gap-\[34px\] {
      gap: 34px;
    }
    .\32xl\:px-0 {
      padding-left: 0px;
      padding-right: 0px;
    }
    .\32xl\:px-2 {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    .\32xl\:text-base {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
  .submenu .\[\.submenu_\&\]\:py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  ul.submenu .\[ul\.submenu_\&\]\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }
  ul.submenu .\[ul\.submenu_\&\]\:bg-transparent {
    background-color: transparent;
  }
  @media (min-width: 1280px) {
    ul.submenu .xl\:\[ul\.submenu_\&\]\:mx-1 {
      margin-left: 0.25rem;
      margin-right: 0.25rem;
    }
    ul.submenu .xl\:\[ul\.submenu_\&\]\:bg-white {
      --tw-bg-opacity: 1;
      background-color: rgb(255 255 255 / var(--tw-bg-opacity));
    }
  }
  