.btn {
    cursor: pointer;
    outline: none;

    min-width: 106px;
    height: 3.8rem;
    padding: 11px 16px 11px;

    border: 2px solid $white;
    border-radius: 50px;

    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    white-space: nowrap;
    @include adaptiveProperty('font-size', 14, 14);
    line-height: 1.5;
    font-family: $primary-font;
    font-weight: 600;
    color: $white;
    transition: .2s ease-in-out;

    @media(min-width: $deskLarge) {
        height: 2vw;
        min-width: 6vw;
    }

    &:hover {
        background-color: $white;
        color: $primary;
    }

    // .btn--orange

    &--orange {
        background-color: $secondary;
        transition: .3s ease-in-out;
        height: 5.5rem;
        @include adaptiveProperty('font-size', 22, 16);
        padding: 1.6rem 4rem 1.8rem;
        border: 2px solid $secondary;
        color: #fbfbfb;

        @media(min-width: $deskLarge) {
            height: 2.87vw;
        }

        &:hover {
            background-color: $white;
            color: $primary;
        }
    }

    // .btn--orange-border

    &--orange-border{
        border: 2px solid $secondary;
        color: $secondary;
        &:hover {
            background-color: $secondary;
            color: $white;
        }
    }

    // .btn--red

    &--red{
        background-color: #ff015b;
        transition: .3s ease-in-out;
        height: 5.5rem;
        @include adaptiveProperty('font-size', 22, 16);
        padding: 1.6rem 4rem 2rem;
        border: 2px solid #ff015b;
        color: #fbfbfb;

        @media(min-width: $deskLarge) {
            height: 2.87vw;
            min-width: 14.3vw;
        }

        &:hover {
            background-color: $white;
            color: $primary;
        }
    }

    // .btn--blue

    &--blue{
        background-color: #12b4e9;
        transition: .3s ease-in-out;
        height: 5.5rem;
        @include adaptiveProperty('font-size', 22, 16);
        padding: 1.6rem 4rem 1.6rem;
        border: 2px solid #12b4e9;
        color: #fbfbfb;

        @media(min-width: $deskLarge) {
            height: 2.87vw;
        }

        &:hover {
            background-color: $white;
            color: $primary;
        }
    }


}