.field {

    input,
    textarea {
        outline: none;

        width: 100%;
        padding: 10px 12px;
        //border: 1px solid $fieldOutline ;
        box-sizing: border-box;

        display: flex;
        align-items: center;
        justify-content: flex-start;

        color: #a5b1be;
        border: 1px solid #b5bfc9;
        border-radius: 8px;
        background-color: $white;

        @include adaptiveProperty('font-size', 16, 16);
        line-height: 1.45;
        //color: $textDark1;
    }

    input {
        height: 36px;
    }

    textarea {
        resize: none;
        overflow-y: auto;
        height: 174px;
    }
}